<!-- Modal -->
<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  (onHide)="closeDialog()"
>
  <div class="custom-modal modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <div class="row">
            <div
              class="col-md-6 vertical-divider spacer"
              [formGroup]="productForm"
              autocomplete="off"
            >
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="no-margin" for="genderControl"
                    >Gender<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    name="genderControl"
                    id="gender_select"
                    formControlName="productGender"
                    (change)="onGenderChange()"
                  >
                    <option
                      *ngFor="let gender of genderList"
                      [ngValue]="gender"
                      >{{ gender.name }}</option
                    >
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="no-margin" for="productBrand"
                    >Brand<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    name="productBrand"
                    id="brand_select"
                    formControlName="productBrand"
                  >
                    <option
                      *ngFor="let brand of brandsList"
                      [ngValue]="brand"
                      >{{ brand.name }}</option
                    >
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="no-margin" for="productName"
                    >Product Name<span class="required">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    style="padding: 0.26rem 0.75rem;"
                    id="productName"
                    name="productName"
                    formControlName="productName"
                    placeholder="Product Name"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid product name is required.
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="no-margin" for="productCategory"
                    >Product Category<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    name="productCategory"
                    id="category_select"
                    formControlName="productCategory"
                    (ngModelChange)="onCategoryChange($event)"
                  >
                    <option
                      *ngFor="let category of categoryList"
                      [ngValue]="category"
                      >{{ category.name }}</option
                    >
                  </select>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <label class="no-margin" for="productPrice"
                    >Product Price<span class="required">*</span></label
                  >
                  <input
                    type="number"
                    name="productPrice"
                    class="form-control"
                    formControlName="productPrice"
                    placeholder="Product Price"
                    id="productPrice"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid product price is required.
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="no-margin" for="productDescription"
                    >Product Description</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="productDescription"
                    placeholder="Product Description"
                    name="productDescription"
                    formControlName="productDescription"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12">
                  <label for="formFileMultiple" class="form-label"
                    >Product Image(s)<span class="required">*</span></label
                  >
                  <div
                    class="custom-dropzone"
                    ngx-dropzone
                    [accept]="'image/*'"
                    [disabled]="
                      isSavedSuccessfully || productImagesController.disabled
                    "
                    (change)="onSelect($event)"
                  >
                    <ngx-dropzone-label>
                      <div>
                        <h3>Drop your file(s).</h3>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let file of fileList"
                      [file]="file"
                      [removable]="true"
                      (removed)="onRemove(file)"
                    >
                      <ngx-dropzone-label *ngIf="file?.uploadProgress < 100">
                        <div class="progress" style="height: 20px; width: 75%;">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            [ngStyle]="{
                              width: file?.uploadProgress + '%'
                            }"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            {{ file?.uploadProgress | number: "0.2" }}%
                          </div>
                        </div>
                      </ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-md-6 spacer"
              [formGroup]="productFormExt"
              autocomplete="off"
            >
              <div class="row mb-3">
                <div class="col-md-3">
                  <label class="no-margin" for="productSize"
                    >Size<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    name="productSize"
                    id="size_select"
                    formControlName="productSize"
                  >
                    <option *ngFor="let size of sizeList" [ngValue]="size">{{
                      size.name
                    }}</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="no-margin" for="productSize"
                    >Color<span class="required">*</span></label
                  >
                  <div class="row">
                    <div class="col-md-3">
                      <input
                        type="color"
                        id="color_picker"
                        name="color_picker"
                        formControlName="productColor"
                      />
                    </div>
                    <div class="col-md-9">
                      <input
                        type="text"
                        class="form-control"
                        id="color_description"
                        name="color_description"
                        formControlName="productColorDescription"
                        style="padding: 0.26rem 0.75rem;"
                        placeholder="Color"
                        value=""
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="no-margin" for="productQuatity"
                    >Quantity<span class="required">*</span></label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="productQuatity"
                    name="productQuatity"
                    formControlName="productQuantity"
                    style="padding: 0.26rem 0.75rem;"
                    placeholder="Quantity"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid product quantity is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button
                    [disabled]="productFormExt?.invalid || isSavedSuccessfully"
                    class="btn btn-sm btn-default pull-right"
                    (click)="resetProductQuantity()"
                  >
                    Reset
                  </button>
                  <button
                    [disabled]="productFormExt?.invalid || isSavedSuccessfully"
                    class="btn btn-sm pull-right"
                    [ngClass]="isQuantityUpdate ? 'btn-warning' : 'btn-primary'"
                    (click)="addProductQuantity()"
                  >
                    {{ isQuantityUpdate ? "Update" : "Add" }}
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="productQuantityList?.length">
                <div class="col-md-12">
                  <table class="table table-hover table-sm text-gray text-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 4%;">Size</th>
                        <th scope="col" style="width: 4%;">Color</th>
                        <th scope="col" style="width: 4%;">Quantity</th>
                        <th scope="col" style="width: 2%;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let quantity of productQuantityList
                            | paginate: { itemsPerPage: 3, currentPage: page }
                        "
                      >
                        <td>
                          {{ quantity?.productSize?.name }}
                        </td>
                        <td style="display: flex;">
                          <div
                            class="color-box"
                            [ngStyle]="{
                              'background-color': quantity.productColor
                            }"
                          ></div>
                          <div>{{ quantity?.productColorDescription }}</div>
                        </td>
                        <td>
                          {{ quantity?.productQuantity }}
                        </td>
                        <td>
                          <i
                            class="fas fa-pen-alt table-action"
                            (click)="updateProductQuantity(quantity)"
                          ></i>
                          <i
                            class="fas fa-trash table-action"
                            (click)="deleteProductQuantity(quantity)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6"></div>
                <div
                  class="col-md-6 custom-pagination"
                  *ngIf="productQuantityList?.length > 3"
                >
                  <pagination-controls
                    (pageChange)="page = $event"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row mb-2 px-3">
        <div class="col-12">
          <ng-container *ngIf="!isSavedSuccessfully">
            <button
              class="btn btn-sm btn-default pull-right spacer"
              (click)="resetProductForm()"
            >
              Reset
            </button>
            <button
              [disabled]="
                productForm?.invalid ||
                !productQuantityList?.length ||
                !fileList?.length ||
                isAttachmentUploading
              "
              class="btn btn-sm pull-right spacer"
              [ngClass]="isUpdate ? 'btn-warning' : 'btn-primary'"
              (click)="addProduct()"
            >
              {{ isUpdate ? "Update Product" : "Add Product" }}
            </button>

            <span *ngIf="isAttachmentUploading" class="spacer pull-right">
              Please wait...
            </span>
          </ng-container>
          <ng-container *ngIf="isSavedSuccessfully">
            <button
              class="btn btn-sm btn-success pull-right spacer"
              (click)="closeDialog()"
            >
              Close
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
