<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="custom-modal modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="needs-validation"
          #addProductForm="ngForm"
          (ngSubmit)="createProduct(addProductForm)"
        >
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productName">Product Name</label>
              <input
                type="text"
                class="form-control"
                id="productName"
                name="productName"
                [(ngModel)]="product.productName"
                placeholder="Product Name"
                value=""
                required
              />
              <div class="invalid-feedback">
                Valid product name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="genderControl">Genders</label>
              <select
                class="form-control"
                name="genderControl"
                id="gender_select"
                [(ngModel)]="selectedGend"
                (ngModelChange)="onGenderChange($event)"
              >
                <option
                  *ngFor="let gender of genderList"
                  [ngValue]="gender"
                  >{{ gender.name }}</option
                >
              </select>
            </div>
          </div>

          <div class="mb-3">
              <label for="productCategory">Product Category</label>
              <select
                class="form-control"
                name="productCategory"
                id="category_select"
                [(ngModel)]="selectedCategory"
                (ngModelChange)="onCategoryChange($event)"
              >
                <option
                  *ngFor="let category of categoryList"
                  [ngValue]="category"
                  >{{ category.name }}</option
                >
              </select>
          </div>

          <div class="mb-3">
            <label for="productDescription"
              >Product Description
              <span class="text-muted">(Optional)</span>
            </label>
            <textarea
              type="text"
              class="form-control"
              id="productDescription"
              placeholder="Product Description"
              name="productDescription"
              [(ngModel)]="product.productDescription"
            ></textarea>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productPrice">Product Price</label>
              <input
                type="number"
                name="productPrice"
                class="form-control"
                [(ngModel)]="product.productPrice"
                placeholder="Product Price"
                id="productPrice"
                value=""
                required
              />
              <div class="invalid-feedback">
                Valid product price is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productQuatity">Product Quantity</label>
              <input
                type="text"
                class="form-control"
                id="productQuatity"
                name="productQuatity"
                [(ngModel)]="product.productQuatity"
                placeholder="Product Quantity"
                value=""
                required
              />
              <div class="invalid-feedback">
                Valid product quantity is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="productBrand">Brand</label>
            <select
              class="form-control"
              name="productBrand"
              id="brand_select"
            >
              <option *ngFor="let brand of brandsList" [ngValue]="brand.$key">{{
                brand.name
              }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="productSeller">Product Seller</label>
            <input
              type="text"
              class="form-control"
              id="productSeller"
              [(ngModel)]="product.productSeller"
              name="productSeller"
              placeholder="Product Seller"
              required
            />
          </div>
          <div class="mb-3">
            <label for="productImageUrl">Product Image</label>
            <input
              type="text"
              class="form-control"
              id="productImageUrl"
              [(ngModel)]="product.productImageUrl"
              name="productImageUrl"
              placeholder="Image Url"
              required
            />
          </div>

          <hr class="mb-4" />
          <button class="btn btn-primary pull-right" type="submit">
            Add Product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
