<br />
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer;">
          <img
            [src]="product.productImageUrl"
            [alt]="product.productName"
            width="100%"
            class="img-fluid rounded"
          />
        </div>
        <div class="" style="margin-top: 15px;">
          <ul class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Price</h6>
              </div>
              <span class="text-muted" style="color: crimson !important;"
                >AUD {{ product.productPrice }}</span
              >
            </li>
            <!-- <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Product Seller</h6>
              </div>
              <span class="text-muted" style="color: crimson !important;">{{
                product.productSeller
              }}</span>
            </li> -->
          </ul>
          <button class="btn btn-primary" (click)="addToCart(product)" [disabled] = "totalQuantity < 1">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <!-- <h5 class="product-head">Product Details</h5> -->
        <table class="table" cellspacing="0" style="max-height: 28px;">
          <tbody>
            <tr>
              <!-- <th scope="row">Product Name</th> -->
              <td class="font-Large">{{ product.productName }}</td>
            </tr>
            <tr>
              <!-- <th scope="row">Product Description</th> -->
              <td class="font-Bold">{{ product.productDescription }}</td>
            </tr>
            <tr>
              <!-- <th scope="row">Product Category</th> -->
              <td class="font-Bold">{{ product.productCategory | getCategoryByCategoryKey | async}}</td>
            </tr>
            <tr>
              <td><h5>Brand </h5> {{ product.productBrandKey | getBrandByBrandKey | async}}</td>
            </tr>
            <tr>
              <td><p *ngFor="let clr of product.productQuantity"><button class="mh-100" ngClass="{background-color: clr.productColor}" style="width: 40px; height: 40px;"></button></p>
              </td>
            </tr>
            <tr>
              <td class="font-italic">{{ totalQuantity }} items left</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
