.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}

.font_Bold {
  font-weight:bold;
}

.font-Large {
  font-size:28px;
}

.font-italic {
  font-style: italic;
}
