<br />
<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-sm-6">
      <div class="product-image">
        <div
          id="carousel-thumb"
          data-interval="false"
          class="carousel slide carousel-fade carousel-thumbnails custom-carousel"
          data-ride="carousel"
        >
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <ng-template
              ngFor
              let-image
              let-i="index"
              [ngForOf]="product?.imageList"
            >
              <div class="carousel-item {{ i === 0 ? 'active' : '' }}">
                <img
                  id="myImg"
                  class="d-block w-100"
                  [src]="image?.downloadedUrl"
                  alt="First slide"
                  (click)="onImageClick(image?.downloadedUrl)"
                />
              </div>
            </ng-template>
          </div>
          <div class="carousel-indicators">
            <ng-template
              ngFor
              let-image
              let-i="index"
              [ngForOf]="product?.imageList"
            >
              <div
                data-target="#carousel-thumb"
                class="{{ i === 0 ? 'active' : '' }}"
                [attr.data-slide-to]="i"
              >
                <img
                  class="d-block w-100"
                  [src]="image?.downloadedUrl"
                  class="img-fluid"
                />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!--  Modal -->
      <div id="myModal" class="modal">
        <!-- Close Button -->
        <span class="close" (click)="onCloseClick()">&times;</span>
        <!-- Modal Content -->
        <img class="modal-content" id="img01" [src]="selectedImage" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="product-detail" [formGroup]="productForm"
      autocomplete="off">
        <!-- <h5 class="product-head">Product Details</h5> -->
        <table class="table" cellspacing="0" style="max-height: 28px;">
          <tbody>
            <tr>
              <!-- <th scope="row">Product Name</th> -->
              <td>
                <p class="no-margin font-Large">
                  {{ product?.productName }}
                </p>
                <p>
                  {{
                    product?.productCategory | getCategoryByCategoryKey | async
                  }}
                  | {{ product?.productBrandKey | getBrandByBrandKey | async }}
                </p>

                <p
                  class="text-muted no-margin"
                  style="color: crimson !important;"
                >
                  AUD {{ product?.productPrice }}
                </p>
              </td>
            </tr>
            <!-- <tr>
              <td class="font-Bold">{{ product?.productDescription }}</td>
            </tr> -->
            <!-- <tr>
              <td class="font-Bold">{{ product?.productCategory | getCategoryByCategoryKey | async}}</td>
            </tr> -->
            <!-- <tr>
              <td>
                <h5>Brand </h5> {{ product?.productBrandKey | getBrandByBrandKey | async}}
              </td>
            </tr> -->
            <tr>
              <td>
                <div class="text-xs text-gray">
                  Size
                </div>
                <div class="product-quantity">
                  <ng-container
                    *ngFor="let size of product?.productQuantity; let i = index"
                  >
                    <div
                      (click)="onSelectSize(size)"
                      [ngClass]="
                        size?.productSize?.isSelected
                          ? 'label selected-item'
                          : 'label'
                      "
                      *ngIf="
                        (product?.productQuantity)[i]?.productSize?.data !==
                        (product?.productQuantity)[i - 1]?.productSize?.data
                      "
                    >
                      {{ size?.productSize?.data }}
                    </div>
                  </ng-container>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="text-xs text-gray">
                  Color
                </div>
                <div class="product-quantity">
                  <ng-container
                    *ngFor="let clr of product?.productQuantity; let i = index"
                  >
                    <div
                      [style]="{ 'background-color': clr.productColor }"
                      (click)="onSelectColor(clr)"
                      *ngIf="
                        (product?.productQuantity)[i]?.productColor !=
                        (product?.productQuantity)[i - 1]?.productColor
                      "
                      [ngClass]="
                        clr?.isColorSelected ? 'label selected-item' : 'label'
                      "
                    ></div>
                  </ng-container>
                  <!-- <button class="mh-100"  (click)="onSelectColor(clr)"
                    style="width: 25px; height: 25px;" [ngClass]="clr?.isSelected ? 'selected-item' : ''"></button> -->
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="text-xs text-gray">
                  <input
                  style="align-items: left; width: 80px;"
                    type="number"
                    class="form-control"
                    id="productQuatity"
                    name="productQuatity"
                    formControlName="productQuantity"
                    placeholder="Quantity"
                    value="1"
                    (input)="onQuantityChange($event.target.value)"
                    required
                  />
                <div class="invalid-feedback">
                    Valid product quantity is required.
                </div>
                </div>
                <div class="text-xs text-gray font-italic">
                  {{ totalQuantity }} items left!
                  <ng-container *ngIf="totalQuantity">Hurry up.</ng-container>
                </div>
              </td>
            </tr>
            <tr>
              <button
                class="btn btn-primary"
                (click)="addToCart(product)"
                [disabled]="totalQuantity < 1 || !product?.selectedProductQuantityKey || totalQuantity == 0">
                Add to Cart
              </button>
              <a
                class="btn btn-default"
                [routerLink]="[
                  '/checkouts',
                  { outlets: { checkOutlet: ['shipping-details'] } }
                ]"
                [class.disabled]="totalQuantity < 1 || !product?.selectedProductQuantityKey || totalQuantity == 0 ? true: null"
                routerLinkActive="active"
                >Buy Now</a
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
