.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}

.font_Bold {
  font-weight: bold;
}

.font-Large {
  font-size: 28px;
}

.font-italic {
  font-style: italic;
}

.custom-carousel {
  display: flex;
  .carousel-inner {
    width: 75%;
    max-height: 550px;
    img {
      border-radius: 5px;
      // box-shadow: 0px 4px 2px #ddd;
    }
  }
  .carousel-indicators {
    bottom: -5;
    display: unset;
    position: unset;
    margin: 0 5%;
    z-index: unset;
    div {
      border: unset;
      flex: unset;
      text-indent: unset;
      img {
        cursor: pointer;
        width: 75px;
        height: 75px;
        border-radius: 3px;
        margin-bottom: 10px;
        opacity: 0.6;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.product-quantity {
  display: flex;
  .label {
    border: 1px solid #d4d4d4;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
    text-align: center;
    border-radius: 2px;
  }
}

.selected-item {
  box-shadow: 0 0 0 0.13rem rgb(38 143 255 / 50%);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 35%;
  max-width: 80%;
  max-height: 95%;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
