<br />
<section class="container">
  <!-- Login form -->
  <div class="col-sm-6">
    <form
      style="width: 22rem;"
      #loginForm="ngForm"
      (ngSubmit)="signInWithEmail(loginForm)"
    >
      <p class="h5 text-center mb-4">Sign in</p>

      <div class="form-group">
        <label for="loginEmailId">Email address</label>
        <input
          type="email"
          class="form-control"
          id="loginEmailId"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="emailId"
          [(ngModel)]="user.emailId"
          mdbInputValidate
          [email]="true"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          name="loginPassword"
          [(ngModel)]="user.loginPassword"
          autocomplete="current-password"
          placeholder="Password"
        />
      </div>

      <div class="text-right">
        <button
          type="submit"
          class="btn btn-primary waves-light mx-2"
          id="loginButton"
          mdbRippleRadius
        >
          Login
        </button>

        <!-- <button
          type="button"
          class="btn waves-light mx-2 text-white"
          (click)="signInWithGoogle()"
          style="background-color: #dd4b39;"
        >
          <i class="fa fa-google" aria-hidden="true"></i>
          Sign in with Google
        </button> -->
      </div>
    </form>
  </div>
  <br />
  <p>
    New User ?
    <a
      data-toggle="modal"
      data-target="#createUserForm"
      style="color: dodgerblue;"
      >Register here!</a
    >
  </p>
  <!-- Login form -->

  <!--Modal: Register Form-->
  <div
    class="modal fade"
    id="createUserForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog cascading-modal" role="document">
      <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
        <div class="modal-content">
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
            <button
              type="button"
              class="close waves-effect waves-light"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="errorInUserCreate"
            >
              {{ errorMessage.message }}
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstNameId">First Name</label>
                <input
                  mdbActive
                  type="text"
                  id="firstNameId"
                  class="form-control"
                  name="firstNameId"
                  [(ngModel)]="createUser.firstName"
                  placeholder="Enter First Name"
                  mdbInputValidate
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastNameId">Last Name</label>
                <input
                  mdbActive
                  type="text"
                  id="lastNameId"
                  class="form-control"
                  name="lastNameId"
                  [(ngModel)]="createUser.lastName"
                  placeholder="Enter Last Name"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="emailId">Email</label>
                <input
                  mdbActive
                  type="email"
                  id="emailId"
                  class="form-control"
                  name="emailId"
                  [(ngModel)]="createUser.emailId"
                  placeholder="Enter email"
                  mdbInputValidate
                  [email]="true"
                  autocomplete="email"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="phoneNumberId">Phone Number</label>
                <input
                  mdbActive
                  type="text"
                  id="phoneNumberId"
                  class="form-control"
                  name="phoneNumberId"
                  [(ngModel)]="createUser.phoneNumber"
                  placeholder="Enter Phone Number"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="unitNumberId">Unit Number</label>
                <input
                  mdbActive
                  type="text"
                  id="unitNumberId"
                  class="form-control"
                  name="unitNumberId"
                  [(ngModel)]="createUser.unitNumber"
                  placeholder="Enter Unit Number"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="streetId">Street</label>
                <input
                  mdbActive
                  type="text"
                  id="streetId"
                  class="form-control"
                  name="streetId"
                  [(ngModel)]="createUser.street"
                  placeholder="Enter Street Number"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="surburbId">Surburb</label>
                <input
                  mdbActive
                  type="text"
                  id="surburbId"
                  class="form-control"
                  name="surburbId"
                  [(ngModel)]="createUser.surburb"
                  placeholder="Enter Surburb Number"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="stateId">State<span class="required">*</span></label>
                <select
                  class="custom-select d-block w-100"
                  id="stateId"
                  name="stateId"
                  [(ngModel)]="createUser.state"
                  required
                >
                  <option *ngFor="let state of addressState" [value]="state">{{state.name}}</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="password">Password</label>
                <input
                  mdbActive
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="createUser.password"
                  placeholder="Password"
                  mdbInputValidate
                  autocomplete="new-password"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="conPassword">Confirm Password</label>
                <input
                  mdbActive
                  type="password"
                  id="conPassword"
                  class="form-control"
                  name="conPassword"
                  [(ngModel)]="createUser.confirmPassword"
                  placeholder="Password"
                  mdbInputValidate
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="text-center mt-2">
              <button
                class="btn btn-info waves-light"
                id="signUpButton"
                mdbRippleRadius
              >
                Sign up
                <i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<br />
<br />
<br />
