
<div class="row">
  <div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-light badge-pill">{{ products.length }}</span>
      <a class="btn btn-light" (click) = "clearCart()" [routerLink]="['/']">Clear Cart</a>
    </h4>
  </div>
  <div class="col-md-12 mb-4">
    <ul class="list-group mb-3">
      <li
        class="list-group-item d-flex justify-content-between lh-condensed"
        *ngFor="let product of products"
      >
        <div>
          <h6 class="my-0">{{ product.productName }}</h6>
        </div>
        <span class="text-muted">{{ product.productPrice * product.productQuantity | currency:'AUD':'code'}}</span>
      </li>
      <hr />
      <li class="list-group-item d-flex justify-content-between">
        <span>Total</span>
        <strong>{{ totalValue | currency:'AUD':'code'}}</strong>
      </li>
    </ul>
  </div>
</div>
  <div class="d-flex justify-content-end">
      <a class="btn btn-light" [routerLink]="['/']">Continue</a>
      <a class="btn btn-success" [routerLink]="[
      '/checkouts',
      { outlets: { checkOutlet: ['shipping-details'] } }
    ]">Checkout</a>
  </div>
