<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="success-template">
        <div id="paymentSuccess">
          <ng-container *ngIf="isSuccess">
            <h1>Payment Success!</h1>
            <h2>Thank You.</h2>
            <div class="row">
              <div class="well col-xs-10 col-sm-10 col-md-6 col-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-3"
                style="margin: auto;">
                <div class="row">
                  <div class="col-md-6 col-4 text-left">
                    <address>
                      <strong>Uclobbers</strong>
                      <br />
                      Australia
                      <br />
                      <abbr title="Phone">P:</abbr> (+61) 452338387
                    </address>
                  </div>
                  <div class="col-md-6 col-8 text-right">
                    <p>
                      <em>Date: {{ date | date }}</em>
                    </p>
                    <p>
                      <em>Receipt #: {{receiptNumber}}</em>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <h1>Receipt</h1>
                  </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <td></td>
                        <th class="text-right">Price</th>
                        <th class="text-right">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of receiptProduct">
                        <td class=" text-left">
                          <h6>
                            <em>{{ product.productName }}</em>
                          </h6>
                        </td>
                        <td></td>
                        <td class="col-md-1 text-right">
                          {{ product.productPrice | currency:'AUD':'symbol' }} <span>&#215;</span> {{
                          product.productQuantity }}
                        </td>
                        <td class="col-md-1 text-center">
                          {{ product.productPrice * product.productQuantity | currency:'AUD':'symbol' }}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <p>
                            <strong>Sub Total: </strong>
                          </p>
                          <p>
                            <strong>Shipping: </strong>
                          </p>
                        </td>
                        <td class="text-right">
                          <p>
                            <strong>{{ totalPrice | currency:'AUD':'symbol' }}</strong>
                          </p>
                          <p>
                            <strong>{{ tax | currency:'AUD':'symbol' }}</strong>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <p><strong>Grand Total: </strong></p>
                        </td>
                        <td class="text-right text-danger">
                          <h4>
                            <strong>AUD {{ totalPrice + tax | currency:'AUD':''}}</strong>
                          </h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="!isSuccess">
          <h1>Payment Failed!</h1>
          <div class="error-details">
            Sorry, an error has occurred, Please try again!
          </div>
        </ng-container>
        <div class="success-actions">
          <div class="row">
            <!-- <div class="col-md"></div> -->
            <div class="col-md">
              <a href="/" class="btn btn-default">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
              </a>
              <a name="" id="" class="btn btn-primary" href="javascript:;;" role="button" (click)="downloadReceipt()"><i
                  class="fa fa-download"></i> Receipt</a>
            </div>
          </div>

          <!-- <a href="/" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> Contact Support </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
