<br />
<main class="mt-5">
<div class="container" *ngIf="cartProducts.length > 0">
  <div class="row">
    <!-- List of Products -->
    <div class="col-lg-8 col-md-12 mb-4">
        <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let product of cartProducts">
          <div class="view overlay z-depth-1-half">
                <!--Card image-->
                <a [routerLink]="['/products/product', product.productKey]">
                    <img
                      *ngIf="product?.imageList?.length"
                      [src]="(product?.imageList)[0]?.downloadedUrl"
                      class="card-img-top"
                      alt=""
                    />
                    <a>
                      <div
                        class="mask rgba-white-light"
                      ></div>
                    </a>
                </a>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center no-padding">
                  <div class="row">
                    <div class="col-md-12">{{ product.productBrand.name }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{product.productName}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{ product.productColour }} - {{ product.sizeName }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{product.productQuantity}} <span>&#215;</span> {{ product.productPrice | currency:'AUD':'symbol'}}</div>
                  </div>
                </div>
              </div>
                  <!--Card footer-->
                  <div class="card-footer no-padding">
                    <div class="d-flex justify-content-end">
                        <div class="mr-auto p-1">{{ product.productPrice * product.productQuantity | currency:'AUD':'symbol'}}</div>
                        <div class="p-1">
                          <a
                            placement="top"
                            mdbTooltip="Quick Look"
                            container="body"
                            [routerLink]="['/products/product', product.$key]"
                          >
                            <i class="fa fa-eye"></i>
                          </a>
                        </div>
                        <div></div>
                        <div class="p-1">
                          <a
                            placement="top"
                            mdbTooltip="Remove Product"
                            container="body"
                            (click)="removeCartProduct(product)"
                          >
                            <i class="fa fa-trash"></i>
                          </a>
                        </div>
                      </div>
                  </div>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-12 mb-4">
      <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found
    [title]="messageTitle"
    [description]="messageDescription"
  ></app-no-products-found>
</div>
</main>
