<div class="container">
  <ul class="list-group mb-3">
    <li
      class="list-group-item"
      *ngFor="let product of receiptProduct"
    >
      <div class="row">
        <div class="col-md-2 text-left">
          <p>
            Brand : {{ product.productBrandKey | getBrandByBrandKey | async }}
          </p>
        </div>
        <div class="col-md-3 text-left">
          <h6 class="my-0">Name : {{ product.productName }}</h6>
        </div>
        <div class="col-md-2 text-center">
          <p>{{ product.productColour }} - {{ product.sizeName }}</p>
        </div>
        <div class="col-md-3 text-right">
          Price :  {{product.productQuantity}} <span>&#215;</span> {{ product.productPrice |
            currency:'AUD':'symbol'}}
        </div>
        <div class="col-md-2 text-right">
          Total : {{product.productQuantity * product.productPrice}}
        </div>
      </div>
    </li>
    <hr />
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (AUD)</span>
      <strong>AUD {{ totalPrice }}</strong>
    </li>
  </ul>
  <div class="float-right">
    <a
      class="btn btn-light"
      [routerLink]="[
        '/checkouts',
        { outlets: { checkOutlet: ['shipping-details'] } }
      ]"
      >Next</a
    >
  </div>
</div>
